# =========================================
# Python
# =========================================

__pycache__/

# =========================================
# ENV
# =========================================

.env


# =========================================
# Virtual Environment
# =========================================

venv/
.env/
.venv/

# =========================================
# Jupyter / Databricks
# =========================================

.ipynb_checkpoints/

# =========================================
# VSCode
# =========================================

.vscode/

# =========================================
# Logs
# =========================================

logs/
*.log

# =========================================
# Generated datasets
# =========================================

output/
data-generator/output/

# =========================================
# Environment variables
# =========================================

.env
